<h1>目录<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#步骤1-导入必要的库" data-toc-modified-id="步骤1-导入必要的库-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>步骤1 导入必要的库</a></span></li><li><span><a href="#步骤2-导入数据集kuaican.csv-,-存入一个名为kuaican的数据框内" data-toc-modified-id="步骤2-导入数据集kuaican.csv-,-存入一个名为kuaican的数据框内-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>步骤2 导入数据集kuaican.csv , 存入一个名为kuaican的数据框内</a></span></li><li><span><a href="#步骤4-查看前10行内容" data-toc-modified-id="步骤4-查看前10行内容-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>步骤4 查看前10行内容</a></span></li><li><span><a href="#步骤5-查看数据基本信息" data-toc-modified-id="步骤5-查看数据基本信息-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>步骤5 查看数据基本信息</a></span></li><li><span><a href="#步骤6-数据集中有多少个列(columns)" data-toc-modified-id="步骤6-数据集中有多少个列(columns)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>步骤6 数据集中有多少个列(columns)</a></span></li><li><span><a href="#步骤7-打印出全部的列名称" data-toc-modified-id="步骤7-打印出全部的列名称-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>步骤7 打印出全部的列名称</a></span></li><li><span><a href="#步骤8-数据集的索引是怎样的" data-toc-modified-id="步骤8-数据集的索引是怎样的-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>步骤8 数据集的索引是怎样的</a></span></li><li><span><a href="#步骤9-被下单数最多商品(item)是什么?" data-toc-modified-id="步骤9-被下单数最多商品(item)是什么?-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>步骤9 被下单数最多商品(item)是什么?</a></span></li><li><span><a href="#步骤10-在item_name这一列中，一共有多少种商品被下单？" data-toc-modified-id="步骤10-在item_name这一列中，一共有多少种商品被下单？-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>步骤10 在item_name这一列中，一共有多少种商品被下单？</a></span></li><li><span><a href="#步骤11-在choice_description中，下单次数最多的商品是什么？" data-toc-modified-id="步骤11-在choice_description中，下单次数最多的商品是什么？-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>步骤11 在choice_description中，下单次数最多的商品是什么？</a></span></li><li><span><a href="#步骤12-一共有多少数量的商品被下单？" data-toc-modified-id="步骤12-一共有多少数量的商品被下单？-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>步骤12 一共有多少数量的商品被下单？</a></span></li><li><span><a href="#步骤13-将item_price转换为浮点数" data-toc-modified-id="步骤13-将item_price转换为浮点数-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>步骤13 将item_price转换为浮点数</a></span></li><li><span><a href="#步骤14-在该数据集对应的时期内，收入(revenue)是多少" data-toc-modified-id="步骤14-在该数据集对应的时期内，收入(revenue)是多少-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>步骤14 在该数据集对应的时期内，收入(revenue)是多少</a></span></li><li><span><a href="#步骤15-在该数据集对应的时期内，一共有多少订单？" data-toc-modified-id="步骤15-在该数据集对应的时期内，一共有多少订单？-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>步骤15 在该数据集对应的时期内，一共有多少订单？</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [57]:
kuaican = pd.read_csv('kuaican.csv',sep='\t')

In [58]:
kuaican.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
kuaican.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
kuaican.shape[1]

5

In [12]:
kuaican.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
kuaican.index

RangeIndex(start=0, stop=4622, step=1)

In [14]:
# 步骤9 被下单数最多商品(item)是什么?
kuaican

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [20]:
# 对item_name进行分组, 统计quantity加和
kuaican.groupby('item_name')['quantity'].sum().sort_values(ascending=False).iloc[0:1]

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [21]:
kuaican.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [22]:
kuaican.groupby('item_name')['quantity'].sum().sort_values(ascending = False).index[0]

'Chicken Bowl'

In [26]:
# 步骤10 在item_name这一列中，一共有多少种商品被下单？
kuaican.item_name.value_counts().shape[0]

50

In [31]:
kuaican.item_name.nunique()

50

In [34]:
len(set(kuaican.item_name))

50

In [42]:
kuaican.groupby('item_name').count().shape[0]

50

In [69]:
# 步骤11 在choice_description中，下单次数最多的商品是什么？
kuaican.choice_description.value_counts().index[0]

'[Diet Coke]'

In [71]:
# 众数
kuaican.choice_description.mode()[0]

'[Diet Coke]'

In [47]:
# 步骤12 一共有多少数量的商品被下单？
kuaican.quantity.sum()

4972

In [48]:
# 步骤13 将item_price转换为浮点数
kuaican

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [74]:
kuaican.loc[4617]['choice_description']

'[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]'

In [50]:
kuaican.item_price.str.slice(1,).astype('float')

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [ ]:
kuaican['item_price'].str.split('$',expand=True)[1].astype('float')

In [59]:
def f(x):
    return x[1:]
kuaican['item_price'] = kuaican.item_price.map(f).astype('float')

In [61]:
kuaican.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [64]:
# 步骤14 在该数据集对应的时期内，收入(revenue)是多少
(kuaican.quantity * kuaican.item_price).sum()

39237.02

In [75]:
#  步骤15 在该数据集对应的时期内，一共有多少订单？
kuaican.order_id.nunique()

1834