<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#关系数据库存储-MySQL为例" data-toc-modified-id="关系数据库存储-MySQL为例-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>关系数据库存储-MySQL为例</a></span><ul class="toc-item"><li><span><a href="#关系数据库介绍" data-toc-modified-id="关系数据库介绍-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>关系数据库介绍</a></span></li></ul></li><li><span><a href="#Pymysql-安装" data-toc-modified-id="Pymysql-安装-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pymysql 安装</a></span></li><li><span><a href="#连接数据库" data-toc-modified-id="连接数据库-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>连接数据库</a></span></li><li><span><a href="#建立游标,执行sql" data-toc-modified-id="建立游标,执行sql-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>建立游标,执行sql</a></span></li><li><span><a href="#执行事务" data-toc-modified-id="执行事务-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>执行事务</a></span></li><li><span><a href="#查询数据" data-toc-modified-id="查询数据-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>查询数据</a></span></li><li><span><a href="#练习题" data-toc-modified-id="练习题-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>练习题</a></span></li></ul></div>

## 关系数据库存储-MySQL为例

### 关系数据库介绍

假设你已经（或者有能力）获取大量数据（通过爬取），那么选择何种方式去存储数据非常重要

一般而言就爬虫问题，我们可以选择：

1. 文本文件的形式保存（比如csv）
2. 数据库

第一种

- 优势：方便，随时使用，不需要第三方的支持
- 劣势：健壮性差，扩展性差

第二种

- 优势：良好的扩展性，使用广泛
- 劣势：对技术有一定要求

## Pymysql 安装

Python配合MySQL,我们使用pymysql进行操作

MySQL和Python的连接库：

- Python3.x: pymysql

利用 pip安装

pip install pymysql

利用conda安装

conda install pymysql

## 连接数据库

In [3]:
import pymysql

In [4]:
connect = pymysql.connect(host="117.51.148.31", 
                          port=3306, 
                          user="root",
                          password='0123456789', 
                          database='pythongo',
                          charset='utf8' )

## 建立游标,执行sql

In [5]:
cursor = connect.cursor()

In [6]:
sql = "create database cda_test2 character set utf8 collate utf8_general_ci; "

In [7]:
# 创建数据库
cursor.execute(sql)

/Users/mac/opt/anaconda3/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
/Users/mac/opt/anaconda3/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3778, "'utf8_general_ci' is a collation of the deprecated character set UTF8MB3. Please consider using UTF8MB4 with an appropriate collation instead.")
  result = self._query(query)

1

In [10]:
# 创建表格
sql2 = "create table Student(Sid varchar(10),Sname nvarchar(10),Sage datetime,Ssex nvarchar(10))"

In [11]:
cursor.execute(sql2)

/Users/mac/opt/anaconda3/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (3720, 'NATIONAL/NCHAR/NVARCHAR implies the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using CHAR(x) CHARACTER SET UTF8MB4 in order to be unambiguous.')
  result = self._query(query)

0

In [12]:
# 插入数据
cursor.execute("insert into Student values('01' , N'赵雷' , '1990-01-01' , N'男');")

1

In [13]:
# 一次插入多条数据
data = [('02','钱电' ,'1990-12-21', '男'),
       ('03' , '孙风' , '1990-05-20' , '男'),
       ('04' , '李云' , '1990-08-06' , '男')]

In [14]:
cursor.executemany("""insert into Student values(%s, %s , %s , %s)""" , data)

3

In [15]:
# 插入操作必须在commit后才会生效
connect.commit()

## 执行事务

事务机制可以确保数据一致性。

事务应该具有4个属性：原子性、一致性、隔离性、持久性。这四个属性通常称为ACID特性。

- 原子性（atomicity）。一个事务是一个不可分割的工作单位，事务中包括的诸操作要么都做，要么都不做。
- 一致性（consistency）。事务必须是使数据库从一个一致性状态变到另一个一致性状态。一致性与原子性是密切相关的。
- 隔离性（isolation）。一个事务的执行不能被其他事务干扰。即一个事务内部的操作及使用的数据对并发的其他事务是隔离的，并发执行的各个事务之间不能互相干扰。
- 持久性（durability）。持续性也称永久性（permanence），指一个事务一旦提交，它对数据库中数据的改变就应该是永久性的。接下来的其他操作或故障不应该对其有任何影响。

In [ ]:
# 换一种方法插入数据也可以

In [16]:
# 插入数据
sql3 = """insert into Student values('04' , N'李云' , '1990-08-06' , N'男')
insert into Student values('05' , N'周梅' , '1991-12-01' , N'女')
insert into Student values('06' , N'吴兰' , '1992-03-01' , N'女')
insert into Student values('07' , N'郑竹' , '1989-07-01' , N'女')
insert into Student values('08' , N'王菊' , '1990-01-20' , N'女')"""

In [17]:
for i in sql3.splitlines():
    cursor.execute(i)
try:
   # 执行sql语句
   connect.commit()
except:
   # 发生错误时回滚
   connect.rollback()

## 查询数据

In [18]:
cursor.execute('select * from Student')

9

In [19]:
one = cursor.fetchone()
one

('01', '赵雷', datetime.datetime(1990, 1, 1, 0, 0), '男')

In [20]:
three = cursor.fetchmany(3)
three

(('02', '钱电', datetime.datetime(1990, 12, 21, 0, 0), '男'),
 ('03', '孙风', datetime.datetime(1990, 5, 20, 0, 0), '男'),
 ('04', '李云', datetime.datetime(1990, 8, 6, 0, 0), '男'))

In [21]:
last = cursor.fetchall()
last

(('04', '李云', datetime.datetime(1990, 8, 6, 0, 0), '男'),
 ('05', '周梅', datetime.datetime(1991, 12, 1, 0, 0), '女'),
 ('06', '吴兰', datetime.datetime(1992, 3, 1, 0, 0), '女'),
 ('07', '郑竹', datetime.datetime(1989, 7, 1, 0, 0), '女'),
 ('08', '王菊', datetime.datetime(1990, 1, 20, 0, 0), '女'))

## 练习题

练习：创建salgrade表并添加数据
通过create和insert命令的语法练习，理解数据库的基本结构，且熟练掌握数据定义语言和数据操作语言的使用。
表结构及记录如下：


| 字段名 | 数据类型 |
| ------ | -------- |
| grade  | int      |
| basic  | int      |
| award  | int      |



| **grade** | **basic** | **award** |
| --------- | --------- | --------- |
| 1         | 700       | 1200      |
| 2         | 1201      | 1400      |
| 3         | 1401      | 2000      |
| 4         | 2001      | 3000      |
| 5         | 3001      | 9999      |

- 查询基本工资大于1400的数据
- 查询奖金在1500-5000的人有哪些

```mysql
-- 练习：创建salgrade表并插入数据
create table salgrade (
    name varchar(60),
    basic int,
    award int
);

-- 插入工资等级信息
insert into salgrade values ('张三',700,1200),
							('李四',1201,1400),
							('王五',1401,2000),
							('赵六',2001,3000),
							('孙七',3001,9999);
```

In [40]:
sql = 'drop table salgrade;'

In [41]:
cursor.execute(sql)

0

In [42]:
sql = """-- 练习：创建salgrade表并插入数据
create table salgrade (
    name varchar(60),
    basic int,
    award int
);"""

In [43]:
cursor.execute(sql)

0

In [44]:
sql2 = """-- 插入工资等级信息
insert into salgrade values ('张三',700,1200),
                            ('李四',1201,1400),
                            ('王五',1401,2000),
                            ('赵六',2001,3000),
                            ('孙七',3001,9999);"""

In [45]:
cursor.execute(sql2)

5

In [46]:
connect.commit()

In [47]:
sql3 = """select * from salgrade"""

In [48]:
cursor.execute(sql3)

5

In [49]:
test = cursor.fetchall()
test

(('张三', 700, 1200),
 ('李四', 1201, 1400),
 ('王五', 1401, 2000),
 ('赵六', 2001, 3000),
 ('孙七', 3001, 9999))

In [50]:
sql4 = """select * from salgrade where basic>1400;"""

In [51]:
cursor.execute(sql4)

3

In [52]:
cursor.fetchall()

(('王五', 1401, 2000), ('赵六', 2001, 3000), ('孙七', 3001, 9999))

In [58]:
sql = """select * from salgrade where award >1500 and award<5000;"""

In [59]:
cursor.execute(sql)

2

In [60]:
cursor.fetchall()

(('王五', 1401, 2000), ('赵六', 2001, 3000))

In [62]:
sql = """select * from salgrade where award between 1500 and 5000;"""

In [63]:
cursor.execute(sql)

2

In [64]:
cursor.fetchall()

(('王五', 1401, 2000), ('赵六', 2001, 3000))