In [1]:
#导入包
import numpy as np
import pandas as pd
import matplotlib as plt
import statsmodels.formula.api as smf
from sklearn import linear_model
import matplotlib.pyplot as plt
%matplotlib inline

#使用pandas读取数据支持xls和xlsx
data=pd.read_excel("C:\\Users\\有福有德\Desktop\\上海统计分析python20200418\\data\\bankloan_binning.xlsx")
data.head(3)#显示数据开头6行

,ID,age,age_group,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,1,41,3,3,17,12,35.9,11.90,0.504108,3.767992,0
1,2,30,2,1,13,8,46.7,17.88,1.352694,6.997266,0
2,3,40,3,1,15,14,61.8,10.64,3.438997,3.136523,0

In [2]:
#随机梯度下降（Stochastic Gradient Descent）
x1=np.array([1,2,3])
x2=np.array([3,2,2])
y=np.array([1,0,1])
# plt.scatter(x,y)

#1.sgd最小化模型误差
"""
w=w+alpha*(y-p)*p*(1-p)*x
注：w为回归系数，alpha学习率，在[0 1]之间，通常设为0.3

方程：log(p/(1-p))=b0+b1*x1+b2*x2,or p=1/(1+exp(-(b0+b1*x1+b2*x2)))
"""
#2.sgd算法

"""
迭代#1
令：b0=0，b1=0，b2=0,则p=1/(1+exp(-(0+0*1+0*3)))=0.5
因为w=w+alpha*(y-p)*p*(1-p)*x,
所以,
b0=0+0.3*(1-0.5)*0.5*(1-0.5)*1=0.0375
b1=0+0.3*(1-0.5)*0.5*(1-0.5)*1=0.0375
b2=0+0.3*(1-0.5)*0.5*(1-0.5)*3=0.1125

迭代#2
令：b0=0.0375，b1=0.0375，b2=0.1125,则p=1/(1+exp(-(0.0375+0.0375*2+0.01125*2)))=0.534
因为w=w+alpha*(y-p)*p*(1-p)*x,
所以,
b0=0.0375+0.3*(0-0.534)*0.534*(0-0.534)*1=
b1=0.0375+0.3*(0-0.534)*0.534*(0-0.534)*2=
b2=0.01125+0.3*(0-0.534)*0.534*(0-0.534)*2=

迭代#3......

注：一共6行数据，迭代后重新从第一行开始，则6次迭代为一个epoch（全部样本训练一次）
"""
print()

0.11249999999999999