In [1]:
#导入包
import numpy as np
import pandas as pd
import matplotlib as plt
import statsmodels.formula.api as smf
from sklearn import linear_model
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#使用pandas读取数据支持xls和xlsx
data=pd.read_excel("C:\\Users\\有福有德\\Desktop\\上海统计分析python20191216\\data\\bankloan_binning.xlsx")
data.head(6)#显示数据开头6行

,ID,age,age_group,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,1,41,3,3,17,12,35.9,11.90,0.504108,3.767992,0
1,2,30,2,1,13,8,46.7,17.88,1.352694,6.997266,0
2,3,40,3,1,15,14,61.8,10.64,3.438997,3.136523,0
3,4,41,3,1,15,14,72.0,29.67,4.165668,17.196732,0
4,5,57,4,1,7,37,25.6,15.86,1.498199,2.561961,0
5,6,45,4,1,0,13,28.1,4.28,0.924861,0.277819,0

In [44]:
from sklearn.decomposition import PCA
from sklearn import preprocessing

#数据标准化处理
raw=data.iloc[:,4:10]
zraw1=preprocessing.scale(raw)#标准z变换
zraw2=preprocessing.MinMaxScaler().fit_transform(raw)#归一化变换
zraw3=raw.rank(method="min",axis=0)#method="average"、"max"等
zraw4=np.log(raw)
# print(zraw1)

# pca=PCA(n_components=6).fit(zraw1)
# pca.explained_variance_ #主成分特征值
# pca.explained_variance_ratio_#主成分的解释方差百分比
# pca.components_#特征向量


#保存主成分------------------
# pca = PCA(n_components=2).fit_transform(zraw1)#累计贡献率
#n_components="mle",svd_solver = 'full'，自动选取主成分个数
# raw[["z1","z2"]]=pd.DataFrame(pca)
# raw.head(6)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in log
  if __name__ == '__main__':

In [49]:
from statsmodels.multivariate.pca import PCA
stat_pca=PCA(zraw1,ncomp=3,standardize=True,method='eig')
stat_pca.factors#主成分得分
# stat_pca.loadings#载荷
# stat_pca.coeff#系数
# stat_pca.rsquare#解释比例

array([[-2.03550780e-03, -9.80605890e-03, -1.06473271e-02],
       [-5.27895061e-03,  5.77402664e-03, -1.16697589e-02],
       [-7.40199438e-03, -9.84292131e-03, -8.47788913e-03],
       ...,
       [ 2.08304579e-03,  2.69093069e-02, -1.76326775e-02],
       [-3.77037890e-04, -2.01798964e-02, -1.26651560e-02],
       [-9.99924525e-05, -1.18771844e-02,  2.26260520e-02]])