In [1]:
#导入包
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from sklearn import linear_model
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#使用pandas读取数据支持xls和xlsx
data=pd.read_excel("C:\\Users\\有福有德\\Desktop\\上海统计分析python20200418\\data\\bankloan_binning.xlsx")
data.head(6)#显示数据开头6行

,ID,age,age_group,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,1,41,3,3,17,12,35.9,11.90,0.504108,3.767992,0
1,2,30,2,1,13,8,46.7,17.88,1.352694,6.997266,0
2,3,40,3,1,15,14,61.8,10.64,3.438997,3.136523,0
3,4,41,3,1,15,14,72.0,29.67,4.165668,17.196732,0
4,5,57,4,1,7,37,25.6,15.86,1.498199,2.561961,0
5,6,45,4,1,0,13,28.1,4.28,0.924861,0.277819,0

In [2]:
from sklearn.preprocessing import *

#数据规范化处理
raw=data.iloc[:,4:10]
zraw1=StandardScaler(copy=True,with_mean=True, with_std=True).fit_transform(raw)#z变换,with_std=False对中处理
zraw2=MinMaxScaler(feature_range=(0,100)).fit_transform(raw)#归一化及任意区间的线性变换
zraw3=RobustScaler(quantile_range=(25.0, 75.0),with_centering=True,with_scaling=True).fit_transform(raw)#稳健变换
zraw4=Binarizer(threshold=0).transform(zraw1)#二值变换，大于threshold值的赋值1，其他为0
zraw5=normalize(raw,norm='l1',axis=1)#特征归一化，l1表示L1范数（曼哈顿聚类，L2是欧式距离），axis=1表示行的绝对值和为1；
zraw6=np.log(raw)#另外见PowerTransformer()

E:\python\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log
  # Remove the CWD from sys.path while we load stuff.

In [22]:
from sklearn.decomposition import PCA
pca=PCA(n_components=0.8).fit(zraw1)#
pca.explained_variance_ #主成分特征值
pca.explained_variance_ratio_#主成分的解释方差百分比
# pca.components_#特征向量

#保存主成分
pca = PCA(n_components=2).fit_transform(zraw1)#累计贡献率
raw[["z1","z2"]]=pd.DataFrame(pca)
raw.head(2)

   employ  address  income  debtinc  creddebt   othdebt        z1        z2
0      17       12    35.9    11.90  0.504108  3.767992  0.244782 -0.787000
1      13        8    46.7    17.88  1.352694  6.997266  0.634826  0.463403

In [ ]:
#==================2.模型参数===================
pca=PCA(n_components=None,
        copy=True,
        whiten=False,
        svd_solver='auto',
        tol=0.0,
        iterated_power='auto',
        random_state=None,                
       )            
print("""
#特点：1.
#ncomp : int返回主成分的数量,float返回百分比,如果n_components='mle'并且svd_solver = 'full'自动选择成分数量；
#whiten：bool，默认为False，白化即倾向于使得每个特征具有相同的方差。
#svd_solver：奇异值分解SVD的方法，
    svd_solver=‘auto’
    svd_solver=‘full’
    svd_solver=‘arpack’
    svd_solver=‘randomized’
""")
#---------对比多变量主成分--------
from statsmodels.multivariate.pca import PCA
stat_pca=PCA(zraw1,ncomp=3,standardize=True,method='eig')
stat_pca.factors#主成分得分
# stat_pca.loadings#载荷
# stat_pca.coeff#系数
# stat_pca.rsquare#解释比例

In [23]:
from sklearn.decomposition import FastICA#独立主成分，强调运算速度优化
from sklearn.decomposition import MiniBatchSparsePCA#小批次（在线）稀疏主成分，强调稀疏和速度
from sklearn.decomposition import SparseCoder#稀疏数据编码
from sklearn.decomposition import KernelPCA#非线性主成分，强调非线性，大型维度处理；
FastICA()
MiniBatchSparsePCA()
SparseCoder()
KernelPCA()

TypeError: __init__() missing 1 required positional argument: 'dictionary'