# python

## 标准输入输出

### print()

### input()

In [1]:
a = input('请输入一个数字：')

请输入一个数字：456789

In [2]:
a

'456789'

## 变量的定义与赋值

In [4]:
print = 1

In [5]:
print

1

In [6]:
print('asda')

TypeError: 'int' object is not callable

In [7]:
del print  # 删除某个变量

In [8]:
print('asd')

asd

In [9]:
我 = 1

In [10]:
我

1

In [11]:
a = 1

In [13]:
id(a)  # id()变量所指向的内存地址

140727174734224

In [14]:
a+1

2

## 数据类型

### 布尔型

### 数值型

In [16]:
a = int(2.3)
a

2

In [17]:
a = int(3.8)
a

3

In [18]:
a = float(3)
a

3.0

In [24]:
a = float(input('请输入一个数：'))
a

请输入一个数：2

2.0

#### 算术运算符

#### 比较运算符

In [27]:
3==2  # 是判断左右两边是否相等

False

In [26]:
3 is 2

False

In [32]:
a = 1000
b = a
c = 1000

In [33]:
a==b

True

In [35]:
a is b

True

In [36]:
id(a)

2368190828720

In [37]:
id(b)

2368190828720

In [38]:
id(c)

2368190829648

In [39]:
a is c  # is 是判断是不是同一个内存地址

False

In [48]:
a = 256  # 数是小于256, 那就是同一个地址
b = a
c = 256

In [49]:
id(a)

140727174742384

In [50]:
id(b)

140727174742384

In [51]:
id(c)

140727174742384

#### 复合赋值运算符

In [52]:
a = 1

In [53]:
a += 1  # a = a + 1

In [54]:
a

2

### 字符串

In [59]:
'a'+'b'

'ab'

In [60]:
'a'*4

'aaaa'

In [61]:
'a' in 'asd'

True

In [62]:
s = '人生苦短， 我用python'
s

'人生苦短， 我用python'

In [64]:
s[2:5:1]

'苦短，'

In [67]:
s[-1:-7:-1]

'nohtyp'

#### 方法

In [72]:
s = 'asda2sdw2ed'
s

'asda2sdw2ed'

In [77]:
s.split('2')

['asda', 'sdw', 'ed']

In [76]:
s.partition('2')

('asda', '2', 'sdw2ed')

In [82]:
s

'asda2sdw2ed'

In [85]:
s.replace('2', '0', 1)

'asda0sdw2ed'

In [86]:
s = 'asdasd'
s

'asdasd'

In [90]:
s.replace('s', '')

'adad'

In [93]:
x = input()
print('{}的年龄是{}岁{}'.format('小哥哥', x ,'!'))

10
小哥哥的年龄是10岁!

### 列表

In [94]:
[1, 2, 3]+[4, 5, 6 ]

[1, 2, 3, 4, 5, 6]

In [95]:
[1, 2]*6

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [99]:
3 in [1, 2, [1, 3]]

False

#### 方法

In [100]:
a = [1,2,3]
a

[1, 2, 3]

In [101]:
a.append(4)

In [103]:
a

[1, 2, 3, 4]

In [104]:
a.extend(['a', 'b'])

In [105]:
a

[1, 2, 3, 4, 'a', 'b']

In [107]:
a.insert(-1, 's')

In [109]:
a

[1, 2, 3, 4, 'a', 's', 'b']

In [112]:
a = ['a', '1', 'as', 'asdasd', '0', 'asd0000']
a

['a', '1', 'as', 'asdasd', '0', 'asd0000']

In [113]:
a.sort()

In [114]:
a

['0', '1', 'a', 'as', 'asd0000', 'asdasd']

In [116]:
a.sort( reverse=True)

In [119]:
a

['asdasd', 'asd0000', 'as', 'a', '1', '0']

In [123]:
a = ['0', '100', 'a000000', 'a000s', 'asd0000', 'asdasd']

In [124]:
a.sort(key=lambda x:x.count('0'))

In [125]:
a

['asdasd', '0', '100', 'a000s', 'asd0000', 'a000000']

### 元祖

In [126]:
a = (1)
a

1

In [127]:
type(a)

int

In [128]:
a = (1, )
a

(1,)

In [129]:
type(a)

tuple

### 字典

In [133]:
a = dict([['a',1], ['b', 2], [(1, 2), 3]])
a

{'a': 1, 'b': 2, (1, 2): 3}

In [134]:
a

{'a': 1, 'b': 2, (1, 2): 3}

In [136]:
1 in a  # 是不是字典的键

False

In [137]:
(1, 2) in a

True

#### 方法

In [138]:
a

{'a': 1, 'b': 2, (1, 2): 3}

In [139]:
a['4'] = 4

In [140]:
a

{'a': 1, 'b': 2, (1, 2): 3, '4': 4}

In [142]:
list(a.keys())

['a', 'b', (1, 2), '4']

In [144]:
list(a.values())

[1, 2, 3, 4]

In [145]:
list(a.items())

[('a', 1), ('b', 2), ((1, 2), 3), ('4', 4)]

### 集合

In [151]:
s = {1, 2, 3,  (1, 2,)}
s

{(1, 2), 1, 2, 3}

In [152]:
s.pop()

(1, 2)

In [153]:
s

{1, 2, 3}

#### 方法

## 流程控制语句

### 顺序结构

### 分支结构

In [155]:
x = float(input('请输入一个数：'))
if x%2==0:
    print('偶数')
else:
    print('奇数')

请输入一个数：9
奇数

### 循环结构

#### while循环

In [161]:
i = 1
while i<=100:
    if i%3==0:
        print(i, end=' ')
    i += 1
    
    
    
print('')   
print('我是在循环结束之后才输出')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
我是在循环结束之后才输出

#### for循环

In [163]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [164]:
for i in 'asd':
    print(i)

a
s
d

In [166]:
for i in {'a':1, 'b':2}:   # 遍历的是字典的键
    print(i)

a
b

## 函数

In [167]:
def pr_info():
    print('张三')
    print(24)

In [168]:
pr_info()

张三
24

In [172]:
def sum2(a, b):
    print(a+b)

In [173]:
def sum3(a, b):
    return a+b

In [174]:
x = sum2(1, 2)

3

In [192]:
print(x)

None

In [193]:
y = sum3(1, 2)

In [194]:
y

3

### 参数

In [197]:
def sum2(a, b):  # 定义阶段：a, b 形式参数
    return a+b

In [196]:
sum2(1, 2)  # 调用阶段的参数叫做实际参数

3

#### 默认参数

In [198]:
def sum2(a, b=1):  # 定义阶段：b 默认参数
    return a+b

In [202]:
sum2(1, 9)

10

### 位置参数

In [210]:
def sum2(a, b, c=1, d=3):  # 定义阶段：c 默认参数
    return a+b-c+d

In [211]:
sum2(1, 2, c=3)  # 1, 2 就是位置参数

3

### 关键字参数

In [212]:
def sum2(a, b, c=1, d=3):  # 定义阶段：c 默认参数
    return a+b-c+d

In [214]:
sum2(1, 2, d=1, c=1)  # 1, 2 就是位置参数， c=3就叫关键字参数

3

### 可变成参数

In [215]:
def sum1(a, b,*c):
    print(a)
    print(b)
    print(c)

In [218]:
sum1(1, 2, 3, 4,5, 4, 5,  )  #一颗星的可变长是把多余的位置参数以元祖的形式存储

1
2
(3, 4, 5, 4, 5)

In [219]:
def sum1(a, b,*c, **d):
    print(a)
    print(b)
    print(c)
    print(d)

In [220]:
sum1(1, 2, 3, 4, 5, e=3, f=5, h=8)  # 两颗星的可变长是把多余的关键字参数以字典形式的储存

1
2
(3, 4, 5)
{'e': 3, 'f': 5, 'h': 8}

In [1]:
def x():
    a = 1  # 局部变量
    print(a)

In [2]:
x()

1

In [4]:
a

NameError: name 'a' is not defined

In [7]:
def x():
    global a  # 声明成一个全局变量
    a = 1
    print(a)

In [8]:
x()

1

In [10]:
a

1

In [11]:
def y():
    print(a)

In [12]:
y()

1

In [1]:

def x():
    
    def y():

        print(a)
    y()

## 面向对象编程

先有类还是对象？？

In [3]:
# 在现实生活中， 是先有一个个真是存在的对象， 然后随着人类的发展， 我们归纳总结出来的类
# 在编程的额世界里， 是先有类， 再通过类实例化对象

In [40]:
class Cook():
    
    # 用变量表示属性
    name = '小明'
    age  = 19
    sex  = '男'
    
    # 用函数表示方法
    def chao(self):
        print('炒菜')
    
    def qie(self, a):
        print('切菜')
        print(id(self))

In [42]:
Cook.qie(1, 1)

切菜
140727174734224

In [43]:
# 实例化
x = Cook()

In [49]:
x1 = Cook()

In [50]:
x1.name

'小明'

In [44]:
x.age

19

In [45]:
x.name

'小明'

In [47]:
x.qie(1)

切菜
2608425784264

In [48]:
id(x)

2608425784264

In [52]:
class Cook():
    
    # 用变量表示属性
    # 类属性
    country = '中国'
    
    # 实例属性
    #            x  '小红', 20, '男'
    def __init__(self, name, age, sex):
        self.name = name
        self.age  = age
        self.性别 = sex
        print('__init__在每次实例化的时候会被自动执行')

    
    # 用函数表示方法
    def chao(self):
        print('炒菜')
    
    def qie(self, a):
        print('切菜')
        print(id(self))

In [56]:
x = Cook('小红', 20, '男')

__init__在每次实例化的时候会被自动执行

In [57]:
x.name

'小红'

In [58]:
x.性别

'男'

## python操作mysql数据库

In [61]:
import pymysql

In [63]:
# 创建连接对象
mydb = pymysql.connect(  
                   host='localhost',          # 数据库主机地址
                   user="root",               # 数据库用户名
                   password="1234"  ,         # 数据库密码
                   database=None,             # 可以指定连接某个数据库
                   port=3306,                 # 端口号, 默认是3306
                   charset='utf8'             # 使用的编码
                   )

In [65]:
3 # 创建游标对象, 这里创建的游标是  可以返回带字段名的字典， 比较好用
mycursor = mydb.cursor(cursor=pymysql.cursors.DictCursor)

In [66]:
# 调用游标对象的execute()方法执行sql语句

In [67]:
mycursor.execute('''
show databases;
''')

9

In [68]:
mycursor.fetchall()

[{'Database': 'information_schema'},
 {'Database': '学生管理系统'},
 {'Database': 'mysql'},
 {'Database': 'pandas_to_sql'},
 {'Database': 'performance_schema'},
 {'Database': 'python'},
 {'Database': 'school'},
 {'Database': 'school2'},
 {'Database': 'sys'}]

In [69]:
mycursor.execute('''
use school2
''')

0

In [70]:
mycursor.execute('''
show tables
''')

5

In [71]:
mycursor.fetchall()

[{'Tables_in_school2': 'co'},
 {'Tables_in_school2': 'sc'},
 {'Tables_in_school2': 'stu'},
 {'Tables_in_school2': 'stu1'},
 {'Tables_in_school2': 'te'}]

In [72]:
mycursor.execute('''
select * from sc
''')
mycursor.fetchall()

[{'s_id': '01', 'c_id': '01', 'score': 80},
 {'s_id': '01', 'c_id': '02', 'score': 90},
 {'s_id': '01', 'c_id': '03', 'score': 99},
 {'s_id': '02', 'c_id': '01', 'score': 70},
 {'s_id': '02', 'c_id': '02', 'score': 60},
 {'s_id': '02', 'c_id': '03', 'score': 80},
 {'s_id': '03', 'c_id': '01', 'score': 80},
 {'s_id': '03', 'c_id': '02', 'score': 80},
 {'s_id': '03', 'c_id': '03', 'score': 80},
 {'s_id': '04', 'c_id': '01', 'score': 50},
 {'s_id': '04', 'c_id': '02', 'score': 30},
 {'s_id': '04', 'c_id': '03', 'score': 20},
 {'s_id': '05', 'c_id': '01', 'score': 76},
 {'s_id': '05', 'c_id': '02', 'score': 87},
 {'s_id': '06', 'c_id': '01', 'score': 31},
 {'s_id': '06', 'c_id': '03', 'score': 34},
 {'s_id': '07', 'c_id': '02', 'score': 89},
 {'s_id': '07', 'c_id': '03', 'score': 98}]

In [74]:
import pandas as pd

In [82]:
mycursor.execute('''
select * from sc
''')
df = pd.DataFrame(mycursor)
df

   s_id c_id  score
0    01   01     80
1    01   02     90
2    01   03     99
3    02   01     70
4    02   02     60
5    02   03     80
6    03   01     80
7    03   02     80
8    03   03     80
9    04   01     50
10   04   02     30
11   04   03     20
12   05   01     76
13   05   02     87
14   06   01     31
15   06   03     34
16   07   02     89
17   07   03     98

In [78]:
gp = df.groupby('s_id')

In [79]:
gp['score'].agg('mean')

s_id
01    89.666667
02    70.000000
03    80.000000
04    33.333333
05    81.500000
06    32.500000
07    93.500000
Name: score, dtype: float64